body {
	background-color: var(--lightGray);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-size: 16px;
}
.container {
	display: flex;
	align-items: center;
	height: 615px;
	justify-content: center;
	flex-direction: column;
}
#card1 {
	height: 200px;
	width: 600px;
	border-radius: 10px 10px 0 0;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
article {
	font-size: 13px;
	margin: 0px 60px 30px 40px;
	font-family: var(--oneAndOnly);
	color: var(--grayishBlue);
}
h1 {
	margin: 30px 60px 10px 40px;
	font-family: var(--oneAndOnly);
	color: var(--cyan);
}
.para1 {
	margin: 0px 60px 10px 40px;
	font-family: var(--oneAndOnly);
	color: var(--brightYellow);
	font-weight: 700;
}
#card2-container {
	display: flex;
}
.card-content {
	height: 225px;
	width: 300px;
}
#card2-content1 {
	background-color: var(--cyan);
	border-radius: 0 0 0 10px;
}
h3 {
	font-family: var(--oneAndOnly);
	color: var(--white);
	margin: 40px 20px 8px 40px;
}
.para2 {
	font-family: var(--oneAndOnly);
	color: var(--white);
	margin: 0 20px 0px 40px;
}
span {
	font-size: 30px;
	font-weight: 700;
}
.para3 {
	font-family: var(--oneAndOnly);
	color: var(--white);
	font-size: 15px;
	margin: 0 20px 15px 40px;
}
button {
	margin: 0 20px 0px 40px;
	padding: 14px 90px;
	text-align: center;
	background-color: var(--brightYellow);
	color: var(--white);
	border-radius: 6px;
	border: none;
}
button:hover {
	opacity: 0.7;
	transition: all 0.5s;
	cursor: pointer;
}
#card2-content2 {
	border-radius: 0 0 10px 0;
	background-color: var(--cyan);
	opacity: 0.5;
	border: none;
}
pre {
	margin: 10px 20px 14px 5px;
	font-size: 11px;
	font-family: var(--oneAndOnly);
	color: var(--white);
}
.attribution {
	font-size: 14px;
	text-align: center;
}
.attribution a {
	color: var(--somethingLikeBlue);
}
@media (max-width: 650px) {
	.container {
		height: 800px;
	}
	#card1 {
		height: 30%;
		width: 90%;
		justify-content: space-evenly;
	}
	h1 {
		margin: 5px 0px 3px 20px;
		font-size: 22px;
	}
	.para1 {
		margin: 0px 0px 2px 20px;
	}
	article {
		margin: 0px 0px 0px 20px;
	}
	#card2-container {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.card-content {
		width: 90%;
	}
	#card2-content1 {
		border-radius: 0;
	}
	#card2-content2 {
		border-radius: 0 0 10px 10px;
	}
	h3,
	.para3,
	.para2,
	button {
		margin-left: 20px;
	}
	pre {
		padding-left: 0;
		margin-left: -15px;
	}
	button {
		padding: 14px 30%;
	}
}
